body {
  padding: 50px;
  /* background-color: #861657; */
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  opacity: 0.65; 
  color: rgb(17, 18, 77); 
  font-family: 'Saira', sans-serif; 
  font-weight: 700;
  
}

img {
  border-radius:50%;
  max-width: 500px;
  height: 50%;
  padding: 50px; 
}

a {
  color: #00B7FF;
}

ul li {
  border:black; 
}

.img-wrapper img{ 
  display:flex;
  flex-wrap:row; 
  justify-content:center; 
  
}
.navbar.is-dark {
  background-color:#36363624;
  display:flex; 
  flex-direction:column;  
}

.column {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center; 
  flex-basis: 100%;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

